@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
img[src*="#thumbnail"]{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}


article#items{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items img{
    width: auto !important; /*Keep the aspect ratio of the image*/
    height: 400px !important;
}

article#current{
    border: 3px solid black    
}

article#current img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto !important; 
    height: 475px !important; 
    border: 2px solid black;
}


article#current h1,h4,h6{
    text-align: center;
}

article#current h6{
    font-size: 150%;
}

article#items img:hover{
    transform: scale(1.25);
    border: 2px solid black;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
  
  footer{
      background-color: rgb(34,35,35);
      color: rgb(119,119,119);
font-size: 150%;
border: 1px dashed black;}
header{font-size: 150%;}

/* input[type=text],[type=email] {
width: 100%;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 100%;
background-color: rgb(0, 64, 255);
color: white;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: rgb(0, 0, 0);

}

#emailAddress, #name{
height:25%;
font-size:14pt;
}
form label{
font-size: 125%;
color:white;

} 
 */


.social{
    border: 2px solid black;
}

input{border-radius: 3px; font-size: 150%;}
        
        
        form
        {
            width: 75%;
            margin : 0 auto;
            padding: 5%;
        border: 3px solid black;
        }
         label{
            display: inline-block;
            font-size: 150%;
            float: left;
            clear: left;
            width: 250px;
            text-align: center;
        }
         input {
             font-size: 150%;
          display: inline-block;
          float: left;
          width: 50%;
        }
        
        /* input:focus {
            background-color: rgb(100, 100, 100);
          } */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.temp, .time {
    width: 49%;
    display: inline;
border: 2px solid black;}

.weight {
    width: 100%;
    display: inline;
border: 2px solid black;}

#myForm h3{
    text-align: center;
}
#myForm{
    width: 50%;
    background-color: rgb(0, 0, 0);
    color: white;
}

#myForm label{
     color: rgb(255, 255, 255);
     size: 150%;
}

#myForm input[type="submit"]{


    background-color: rgb(255, 43, 43);
    border: 1px solid black;
    color: white;
    padding: 5px;
    font-size: 150%;
    margin-left: 25%;
    text-align: center;
    border-radius: 5px;
    height: 5%;

}

input:focus {
    background-color: yellow;
  }
  input:blur {
    background-color: white;
  }